{% extends "html/base.html" %}
{% load static %}

{% block title %}إضافة موعد{% endblock %}


{% block header %} 


<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="/followup_dash/student_search">بحث عن طالب</a></li>
            <li><a href="/followup_dash/next_exams">الاختبارات المتاحة</a></li>
            <li><a href="/followup_dash/profile">الملف الشخصي</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>

{% endblock %} 


{% block content %}



<form method="post">

{% csrf_token %}
{{add_date_form}}

<input type="submit" value="إضافة">

</form>

{% endblock %}