{% extends "html/base.html" %}
{% load static %}

{% block title %}الاختبارات المعلقة{% endblock %}


{% block header %} 

<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="/followup_dash/student_search">بحث عن طالب</a></li>
            <li><a href="/followup_dash/next_exams">الاختبارات المتاحة</a></li>
            <li><a href="/followup_dash/profile">الملف الشخصي</a></li>
            <li><a href="/followup_dash/editprofile">تعديل الملف</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>


{% endblock %} 


{% block content %}


<section>
    <div>
        <h3>الاختبارات المعلقة</h3>
        <input type="text" id="search_input" placeholder="ابحث عن اسم طالب ...">
        <table>
            <thead>
                <tr>
                    <th>الطالب</th>
                    <th>الشيخ</th>
                    <th>التاريخ</th>
                    <th>الشيخ</th>
                    <th>الحفظ</th>
                    <th>التجويد</th>
                </tr>
            </thead>
            <tbody id="not_com_exams">
                {% if dates %}
                    {%for date in dates %}
                        <tr>
                            <td>{{date.student.user.name}}</td>
                            <td>{{date.student.sheikh.user.name}}</td>
                            <td>{{date.hijri}}</td>
                            <td>{{date.score}}</td>
                            <td>{{date.memorization_level}}</td>
                            <td>{{date.tajweed_level}}</td>
                            <td><a href="/followup_dash/date/{{date.date.date.id}}/{{date.student.user.code}}">تعديل</a></td>
                        </tr>
                    {% endfor %}
                {%else%}
                <tr>
                    <td>
                        لا توجد مواعيد معلقة
                    </td>
                </tr>
                        
                {% endif %}
            </tbody>
        </table>

    </div>

</section>


<script>
    document.getElementById("search_input").addEventListener("input", function () {
        let query  = this.value;

        fetch(`/followup_dash/not_com_exams?q=${encodeURIComponent(query)}`)
        .then(res => res.json())
        .then(data => {
            let tbody = document.getElementById("not_com_exams");
            tbody.innerHTML = ""

            if (!data.results || data.results.length === 0) {
                tbody.innerHTML = `<tr>
                    <td colspan = "6" >لا توجد مواعيد معلقة لهذا الطالب</td>
                </tr>`;
            }

            else {
            data.results.forEach(item => {
                let row = `<tr>
                    <td>${item.name}</td>
                    <td>${item.sheikh}</td>
                    <td>${item.date}</td>
                    <td>${item.score}</td>
                    <td>${item.memorization_level}</td>
                    <td>${item.tajweed_level}</td>
                    <td><a href = "date/${item.id}/${item.code}">تعديل</a></td>
                </tr>`;
                tbody.innerHTML += row
            })
        }
        })
    })


</script>



{% endblock %} 