asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
Django==5.2.4
django-appconf==1.1.0
django-jazzmin==3.0.1
django-select2==8.4.1
hijri-converter==2.3.1
idna==3.10
pytz==2025.2
requests==2.32.4
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0