{% extends "html/base.html" %}

{% block content %}
<div class="back">
  <section class="container">

    <div class="password-reset">
      <h2>استعادة كلمة المرور</h2>

      {% if form.errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
          {% endfor %}
        </div>
      {% endif %}

      <form action="" method="post">
        {% csrf_token %}

        <div class="form-group">
          <label for="id_email">أدخل بريدك الإلكتروني لإرسال رابط إعادة التعيين:</label>
          {{ form.email }}
        </div>

        <input type="submit" class="btn btn-default btn-lg" value="إرسال">
      </form>
    </div>

 </section>
</div>
{% endblock %}