{% extends "html/base.html" %}

{% block content %}
<div class="back">
  <section class="container">

    {% if validlink %}
        <p>أدخل وأكد كلمة المرور الجديدة. </p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">كلمة المرور الجديدة:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">تأكيد كلمة المرور:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>خطأ في تعيين كلمة المرور!</h1>
        <p>الرابط غير صالح يرجى إرسال طلب إعادة تعيين جديد</p>
    {% endif %}
 </section>
</div>
{% endblock %}
