{% extends "html/base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<h2>تغيير كلمة المرور</h2>



{% if form.errors %}
<div class="back">
  <section class="container">


  <div class="alert alert-danger">
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li>
            {% if "This field is required" in error %}
              هذا الحقل مطلوب.
            {% elif "Enter a valid email address" in error %}
              أدخل بريدًا إلكترونيًا صحيحًا.
            {% elif "This password is too short" in error %}
              كلمة المرور قصيرة جدًا (يجب أن تكون 8 حروف أو أكثر).
            {% elif "This password is too common" in error %}
              كلمة المرور سهلة جدًا.
            {% elif "The two password fields didn’t match" in error %}
              كلمتا المرور غير متطابقتين.
            {% elif "A user with that username already exists" in error %}
              اسم المستخدم هذا مستخدم بالفعل.
            {% elif "Ensure this value has at least" in error %}
              كلمة المرور قصيرة جدًا.
            {% elif "Ensure this value has at most" in error %}
              كلمة المرور طويلة جدًا.
            {% elif "This password is entirely numeric" in error %}
              كلمة المرور لا يجب أن تكون أرقامًا فقط.
            {% elif "Your old password was entered incorrectly. Please enter it again" in error %}
              كلمة المرور الحالية غير صحيحة.

            {% else %}
              {{ error }}  {# fallback للرسائل غير المتوقعة #}
            {% endif %}
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endif %}


<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_old_password">كلمة المرور الحالية:</label>
        {{ form.old_password }}
    </div>

    <div class="form-group">
        <label for="id_new_password1">كلمة المرور الجديدة:</label>
        {{ form.new_password1 }}
    </div>

    <div class="form-group">
        <label for="id_new_password2">تأكيد كلمة المرور:</label>
        {{ form.new_password2 }}
    </div>

    <button type="submit">تحديث</button>
</form>

 </section>
</div>
{% endblock %}
