{% extends "html/base.html" %}
{% load static %}

{% block title %}المواعيد المتاحة{% endblock %}

{% block css %}
<link href="{% static 'supervisors/css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block header %} 


<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="/supervisor_dash/student_search">بحث عن طالب</a></li>
            <li><a href="/supervisor_dash/profile">الملف الشخصي</a></li>
            <li><a href="/supervisor_dash/editprofile">تعديل الملف</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>

{% endblock %} 


{% block content %}


<div class="back">
    <section class="container">
        <h2>المواعيد المتاحة</h2>
        <table class="next-dates-table">
            <thead>
                <tr>
                    <th>التاريخ</th>
                    <th>التوقيت</th>
                    <th>الشيخ</th>
                    <th>الطلاب</th>
                    <th>المتاح</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if dates %}
                    {%for date in dates %}
                        <tr>
                            <td class="date">{{date.hijri}}</td>
                            <td class="time">{{date.from_hour}}-{{date.to_hour}}</td>
                            <td class="sheikh">{{date.sheikh.user.name}}</td>
                            <td class="stu-num"> {{date.student_num}}</td>
                            <td class="remain"> {{date.remain}}</td>
                            <td class="stu"><a href="/supervisor_dash/sheikh/{{date.sheikh.user.code}}/date/{{date.id}}">الطلاب</a></td>
                        </tr>
                    {% endfor %}
                {%else%}
                <tr>
                    <td colspan ="4">
                        لا توجد مواعيد متاحة
                    </td>
                </tr>
                        
                {% endif %}
            </tbody>
        </table>

  

    </section>
</div>





{% endblock %}