{% extends "html/base.html" %}
{% load static %}

{% block title %}المواعيد{% endblock %}

{% block css %}<link href="{% static 'supervisors/css/style.css' %}" rel="stylesheet">
{% endblock %}


{% block header %} 


<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="/supervisor_dash/student_search">بحث عن طالب</a></li>
            <li><a href="/supervisor_dash/next_exams">الاختبارات المتاحة</a></li>
            <li><a href="/supervisor_dash/profile">الملف الشخصي</a></li>
            <li><a href="/supervisor_dash/editprofile">تعديل الملف</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>
    </div>
</div>
{% endblock %} 


{% block content %}

<div class="sheikh-dates back">
    <section class="container">
        <h2>مواعيد الشيخ {{sheikh.user.name}}</h2>
        <a href="/supervisor_dash/sheikh/{{sheikh.user.code}}/add" class="add">إضافة موعد</a>
        {% if dates %}
        <table class="dates-table">
            <thead>
                <tr>
                    <th>التاريخ</th>
                    <th>التوقيت</th>
                    <th>الطلاب</th>
                    <th>المتاح</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
                    {%for date in dates %}
                        <tr>
                            <td class="date">{{date.hijri}}</td>
                            <td class="time">{{date.from_hour}}-{{date.to_hour}}</td>
                            <td class="stu-num"> {{date.student_num}}</td>
                            <td class="stu-remain"> {{date.remain}}</td>
                            <td class="view"><a href="date/{{date.id}}">الطلاب</a></td>
                            <td class="edit"><a href="/supervisor_dash/sheikh/{{date.sheikh.user.code}}/{{date.id}}/edit_date">تعديل</a></td>
                        </tr>
                    {% endfor %}
                
            </tbody>
        </table>
        {%else%}
        <p style = "padding: 25px;">لا توجد مواعيد متاحة</p>
        {% endif %}
    </section>
</div>





{% endblock %}