{% extends "html/base.html" %}
{% load static %}

{% block title %}سجل الاختبارات{% endblock %}

{% block css %}<link href="{% static 'students/css/style.css' %}" rel="stylesheet">{% endblock %}


{% block header %} 

<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="{% url 'student_dash' %}">صفحتك الرئيسية</a></li>
            <li><a href="profile">ملفك الشخصي</a></li>
            <li><a href="editprofile">تعديل الملف</a></li>
            <li><a href="/FAQ">الأسئلة الشائعة</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>
    </div>
    <div class="note">
        <i class="fa-solid fa-bell" id="note-i"></i>
        <div class="triangle" id="note-triangle"></div>
        {% csrf_token %}
        <ul id="note-ul">
            {% for note in notes %}
                <li onclick="readAndI({{note.id}})" class = "li-{{note.is_read}}-read-note" id="note-{{note.id}}">
                    <h4>{{note.title}}</h4>
                    <p>{{note.message}}</p>
                    <p>{{note.hijri_created_at}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %} 


{% block content %}

<div class="stu-date-view">
    <section class="container">
        <h2>اختبار {{exam.date.stage}}</h2>
        <div class="base-detail">
            <div class="date">
                <h4>التاريخ</h4>
                <p>{{exam.hijriDate}}</p>
            </div>
            <div class="grid">
                <div>
                    <h4>النصاب</h4>
                    <p>{{exam.date.nsap}}</p>
                </div>
                <div>
                    <h4>الدرجة</h4>
                    <p>{{exam.percentage}}</p>
                </div>
                <div>
                    <h4>تقدير الحفظ</h4>
                    <p>{{exam.memorization_level}}</p>
                </div>
                <div>
                    <h4>تقدير التجويد</h4>
                    <p>{{exam.tajweed_level}}</p>
                </div>
            </div>
            <div class="notes">
                <h4>الملاحظات</h4>
                <p>{{exam.notes}}</p>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th id="num-q">رقم السؤال</th>
                    <th>التنبيهات</th>
                    <th>الأخطاء</th>
                </tr>
            </thead>
            <tbody>
                {%for d in degree %}
                <tr>
                    <td>{{d.question_number}}</td>
                    <td class="alarm">{{d.alarm_count}}</td>
                    <td class="mistake">{{d.mistake_count}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
</div>




{% endblock %} 
{%block js%}
<script>
    if (window.innerWidth < 768) {
    document.getElementById("num-q").innerHTML = "السؤال"
}
</script>
{% endblock %} 
