{% extends "html/base.html" %}
{% load static %}

{% block title %}تعديل الملف{% endblock %}
{% block css %}<link href="{% static 'students/css/style.css' %}" rel="stylesheet">{% endblock %}


{% block header %} 

<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="/student_dash">صفحتك الرئيسية</a></li>
            <li><a href="profile">ملفك الشخصي</a></li>
            <li><a href="/FAQ">الأسئلة الشائعة</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>

    </div>
    <div class="note">
        <i class="fa-solid fa-bell" id="note-i"></i>
        <div class="triangle" id="note-triangle"></div>
        {% csrf_token %}
        <ul id="note-ul">
            {% for note in notes %}
                <li onclick="readAndI({{note.id}})" class = "li-{{note.is_read}}-read-note" id="note-{{note.id}}">
                    <h4>{{note.title}}</h4>
                    <p>{{note.message}}</p>
                    <p>{{note.hijri_created_at}}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


{% endblock %} 


{% block content %}

<div class="edit-profile">
    <section class="container">
        <h2>تعديل الملف الشخصي</h2>
        <form method="post">

        {% csrf_token %}
        {{edit_profile_form}}

        <input type="submit" value="تعديل">

        </form>
    </section>
</div>


{% endblock %}