{% extends "html/base.html" %}
{% load static %}

{% block title %}المواعيد السابقة{% endblock %}

{% block css %}<link href="{% static 'sheikhs/css/style.css' %}" rel="stylesheet">{% endblock %}


{% block header %} 

<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="/sheikh_dash/profile">الملف الشخصي</a></li>
            <li><a href="/sheikh_dash/editprofile">تعديل الملف</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>

    </div>
</div>

{% endblock %} 


{% block content %}

<div class="next-exam">
    <section class="container">
        <div>
            <h2>المواعيد السابقة</h2>
            <table class= "dates-table">
                <thead>
                    <tr>
                        <th>التاريخ</th>
                        <th>التوقيت</th>
                        <th>الطلاب</th>
                        <th>المتاح</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if next_sheikh_dates %}
                        {%for date in next_sheikh_dates %}
                            <tr>
                                <td class="date">{{date.hijri}}</td>
                                <td class="time"> {{date.from_hour}}-{{date.to_hour}}</td>
                                <td class="stu-num"> {{date.student_num}}</td>
                                <td class="stu-remain"> {{date.remain}}</td>
                                <td class="stu"><a href="date/{{date.id}}">الطلاب</a></td>
                            </tr>
                        {% endfor %}
                    {%else%}
                    <tr>
                        <td>
                            لا توجد مواعيد قادمة
                        </td>
                    </tr>
                            
                    {% endif %}
                </tbody>
            </table>

        </div>

    </section>
</div>





{% endblock %}