{% extends "html/base.html" %}
{% load static %}

{% block title %}طلاب الموعد{% endblock %}
{% block css %}<link href="{% static 'sheikhs/css/style.css' %}" rel="stylesheet">{% endblock %}


{% block header %} 

<div>
    <div class="menu-i">
        <i class="fa-solid fa-bars" id="menu-nav-i"></i>
        <div class="triangle" id="profile-triangle"></div>
        <ul id="menu-nav">
            <li><a href="/sheikh_dash">الصفحة الرئيسية</a></li>
            <li><a href="/sheikh_dash/profile">الملف الشخصي</a></li>
            <li><a href="/sheikh_dash/editprofile">تعديل الملف</a></li>
            <li>
                <form action="{% url 'logout' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">
                    تسجيل الخروج
                    </button>
                </form>
            </li>
        </ul>

    </div>
</div>

{% endblock %} 


{% block content %}

<div class="stu-res">
    <section class="container">
        <h2>نتيجة الطالب {{student.user.name}} بموعد {{date_stu}}</h2>

        <form method="post">
            {% csrf_token %}
                {{stu_res_form}}
                {{ stu_que_form.management_form }}
                <table class="que-table">
                    <thead>
                        <tr>
                            <th>رقم السؤال</th>
                            <th>التنبيهات</th>
                            <th>الأخطاء</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for form in stu_que_form %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ form.alarm_count }}</td>
                            <td>{{ form.mistake_count }}</td>

                            {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>  

            <input type="submit" value="تسجيل">
        </form>
    </section>
</div>







{% endblock %} 